#myVideo {
  z-index: -1;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:transparent;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
    border-right: 1px solid transparent;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: transparent;
  }

  header{
    text-align: center;
    margin: auto;
    font-size: xx-large;
    height: 100vh;
}


.fancy-link{
  background-image: 
  linear-gradient(90deg, rgb(26, 42, 190), rgb(26, 42, 190), rgb(226, 226, 235));
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease;
}

.fancy-link :hover{
  background-size: 100% 3px;
}

